.card {
  position: absolute;
  perspective: 600px;
  width: 80px;
  height: 120px;
  transition: all .3s;

  &:hover &--face,
  &.isFlipped &--face {
    box-shadow: 0 0 10px #aaa;
  }

  &__face {
    border-radius: 10px;
    width: 100%;
    height: 100%;
    position: absolute;
    transition-property: opacity, transform, box-shadow;
    transition-duration: .3s;

    backface-visibility: hidden;
  }

  &__front {
    background: gray url(images/deck.png) 0 -480px;
  }

  &__back {
    background: lightgrey url(images/deck.png);
    transform: rotate3d(0, 1, 0, -180deg);
  }

  &--AJ { background-position: -800px 0; }
  &--AQ { background-position: -880px 0; }
  &--AK { background-position: -960px 0; }
  &--BJ { background-position: -800px -120px; }
  &--BQ { background-position: -880px -120px; }
  &--BK { background-position: -960px -120px; }
  &--CJ { background-position: -800px -240px; }
  &--CQ { background-position: -880px -240px; }
  &--CK { background-position: -960px -240px; }
  &--DJ { background-position: -800px -360px; }
  &--DQ { background-position: -880px -360px; }
  &--DK { background-position: -960px -360px; }

  &.isRemoved {
    opacity: 0;
  }

  &.isFlipped .card__front {
    transform: rotate3d(0, 1, 0, 180deg);
  }
  
  &.isFlipped .card__back {
    transform: rotate3d(0, 1, 0, 0deg);
  }
}


