@import url('http://fonts.googleapis.com/css?family=Droid+Serif:regular,bold&subset=latin');

body {
  background: brown url(images/bg.jpg);
  text-align: center;
  font-family: 'Droid Serif', Arial, serif;
  color: #ccc;
  text-shadow: 1px 2px 1px #000;
}
