@charset "utf-8";

body {
  background: lightgrey;
}

.card {
  width: 80px;
  height: 120px;
  margin: 20px;
  position: absolute;
  transition: all 1s linear;
}

.cardAK {
  background: url(../dist/images/AK.png);
}

.cardAQ {
  background: url(../dist/images/AQ.png);
}

.rotate-right {
  transform: rotate3d(0, 0, 1, 90deg);
}

.move-and-scale {
  transform: translate3d(150px, 150px, 0) scale3d(1.5, 1.5, 1);
}
